@import "../../assets/scss/bundle.scss";

.main-wrapper {
  // background: url("../../../public/static/images/background.png");
  background: center / cover no-repeat
    url("../../../public/static/images/gold-bg.gif");
  // position: relative;
  height: 100svh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: hidden;

  .mask-top {
    position: absolute;
    top: 0;
    left: 0;
  }

  .candles-left {
    position: absolute;
    width: 20%;
    top: 35%;
    left: 0;
    outline: hidden;
  }

  .candles-right {
    position: absolute;
    width: 20%;
    top: 3%;
    right: 0;
  }

  @include Tablet {
    .mask-top {
      width: 35%;
    }
  }

  @include Mobile {
    .mask-top {
      width: 80%;
    }

    .candles-right {
      width: 30%;
    }
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 50px;

  &__title {
    text-transform: none;
    letter-spacing: 1px;
    line-height: 70px;
    @include Typography(50px, 700, $color-primary-text);
    text-align: center;
    margin-bottom: 50px;

    @include Mobile {
      @include Typography(40px, 700, $color-primary-text);
      line-height: 50px;
    }
  }

  &__date {
    @include Typography(24px, 600, $color-primary-text);
  }

  h2 {
    @include Typography($font-size-2, 500, $color-primary-text);
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }

  &__text {
    text-align: center;
    @include Typography($font-size-3, 400, $color-secondary-text);
  }

  @include Mobile {
    margin-top: 35%;
  }
}
