@import "../../assets/scss/bundle.scss";

.team-wrapper {
  position: relative;
  margin-bottom: 50px;
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  ul,
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;

    a {
      @include Typography(18px, 600, $color-secondary-text);
    }
  }

  p {
    text-align: center;
    @include Typography($font-size-2, 400, $color-secondary-text);
  }
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fcfbf9;
  margin-bottom: 50px;
}

.frame {
  position: absolute;
  bottom: 0;
}
.phone {
  cursor: pointer;
  @include Typography(18px, 600, $color-primary-text);
}
