@import "../../assets/scss/bundle.scss";

.program-wrapper {
  width: 100%;
}
.program {
  position: absolute;
  top: 5%;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  z-index: 2;

  .program-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    &__time {
      @include Typography($font-size-0, 400, $color-primary-text);
    }

    h2 {
      @include Typography($font-size-1, 500, $color-primary-text);
      text-transform: uppercase;
    }

    &__text {
      text-align: center;
      @include Typography($font-size-2, 400, $color-secondary-text);
    }
  }
}
