@import "../../assets/scss/bundle.scss";

.program-wrapper {
  width: 100%;
}
.program {
  position: absolute;

  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  z-index: 2;

  @media (orientation: landscape) {
    top: 25%;
  }

  /* Для вертикальной ориентации */
  @media (orientation: portrait) {
    top: 5%;
  }

  .program-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
}
