.wrapper {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;

  .bg-program-wrapper {
    position: relative;
    z-index: 1;
    width: 100%;

    @media (orientation: landscape) {
      top: 0;
    }

    /* Для вертикальной ориентации */
    @media (orientation: portrait) {
      top: -20vh;
      opacity: 0;
      animation: fadeIn 5s ease-in-out forwards;
      animation-delay: 9s;
    }

    .program-bg {
      @media (orientation: landscape) {
        height: 1000px;
        object-fit: cover;
      }
    }

    .mask-bottom {
      width: 70%;
      position: absolute;
      top: -20px;
      right: 0;
      z-index: 1;
    }

    .mask-white {
      width: 45%;
      position: absolute;
      top: 0;
      left: 0;
    }

    .candles-left {
      width: 17%;
      position: absolute;
      top: 20%;
      left: 0;
    }

    .candles-right {
      width: 25%;
      position: absolute;
      bottom: -14%;
      right: 0;
      z-index: 1;
    }

    .black-mask {
      width: 100%;
      position: absolute;
      bottom: -200px;
      right: 0;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .mask-gold {
    position: absolute;
    bottom: -16%;

    animation: fadeMaskOut 5s ease-in-out forwards;
    animation-delay: 8s;
  }

  @keyframes fadeMaskOut {
    to {
      opacity: 0;
    }
  }
}
