@import "../../assets/scss/bundle.scss";

.see-you {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  .timer {
    display: flex;
    gap: 20px;

    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 55px;
    }
  }
}
