@import "../../assets/scss/bundle.scss";

.location-wrapper {
  margin-bottom: 50px;
}

.location {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.eleven-logo {
  width: 250px;
}
.twogis-logo {
  width: 50px;
  margin-right: 10px;
}

.address {
  letter-spacing: 1px;
}

.twogis-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e9dfcb;
  padding: 5px 20px;
  border-radius: 20px;
  box-shadow: 1px 1px 6px #382201;
  cursor: pointer;
  @include Typography(18px, 600, $color-primary-text);
  margin-bottom: 40px;

  img {
    width: 25px;
    margin-right: 5px;
  }

  span {
    text-decoration: underline;
  }
}
