@import "../../assets/scss/bundle.scss";

.form {
  margin: 50px 20px;

  .title {
    text-transform: none;
    margin-bottom: 20px;
  }

  .date {
    margin-bottom: 30px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 40px;
    border: 2px solid #a69e8d;
    border-radius: 20px;
    background: #ebe8e2;
    box-shadow: 1px 1px 10px #a69e8d;
    padding: 30px 15px;
    margin-bottom: 50px;

    h2 {
      @include Typography($font-size-1, 400, $color-secondary-text);
    }

    .radio-block {
      display: flex;
      flex-direction: column;
      gap: 30px;

      label {
        display: flex;
        align-items: center;
        cursor: pointer;
        @include Typography(20px, 400, $color-secondary-text);
      }

      .real-radio {
        width: 0;
        height: 0;
        position: absolute;
        opacity: 0;
      }

      .custom-radio {
        position: relative;
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 2px solid #a69e8d;
        margin-right: 20px;
        vertical-align: text-top;
      }

      /* точка внутри радио-кнопки */

      .custom-radio::before {
        content: "";
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #704a3d;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(0);

        transition: 0.3s ease-in;
      }

      .real-radio:checked + .custom-radio::before {
        transform: translate(-50%, -50%) scale(1);
      }
    }

    .fields-block {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-top: 20px;

      label {
        @include Typography($font-size-3, 600, grey);
      }

      input {
        width: 100%;
        box-sizing: border-box;
        border-bottom: 1px solid #a69e8d;
      }

      input::placeholder {
        color: rgb(179, 177, 177);
        text-align: center;
      }

      .input-field {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin-bottom: 20px;
      }

      .together-block {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }

      .child {
        display: flex;
        align-items: center;
        gap: 10px;
        &__name {
          flex-grow: 1;
        }
        &__age {
          width: 100px;
        }

        .plus-btn {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          padding: 10px;
          font-size: 25px;
          background: linear-gradient(to right, #d8d1c2, #a69e8d) 0;

          display: flex;
          align-items: center;
          justify-content: center;
          img {
            width: 100%;
          }
        }

        .delete-btn {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          padding: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            width: 16px;
          }
        }
      }

      /* checkbox */

      .checkbox {
        .real-checkbox {
          width: 0;
          height: 0;
          position: absolute;
          opacity: 0;
        }

        .custom-checkbox {
          position: relative;
          display: inline-block;
          width: 20px;
          height: 20px;
          border-radius: 5px;
          border: 2px solid #a69e8d;
          margin-right: 20px;
          vertical-align: text-top;
        }

        /* галочка внутри checkbox */

        .custom-checkbox::before {
          content: "";
          width: 25px;
          height: 25px;
          background-image: url("../../../public/static/images/ok-icon.svg");
          background-repeat: no-repeat;
          position: absolute;
          left: 65%;
          top: 50%;
          transform: translate(-50%, -50%) scale(0);

          transition: 0.2s ease-in;
        }

        .real-checkbox:checked + .custom-checkbox::before {
          transform: translate(-50%, -50%) scale(1);
        }
      }
    }

    button {
      width: 100%;
      background: white;
      padding: 10px 20px;
      border-radius: 20px;
      border: none;
      text-align: center;
      box-sizing: border-box;
      cursor: pointer;
      @include Typography($font-size-3, 600, white);
      box-shadow: 1px 1px 6px #382201;

      &:hover {
        background: #e9dfcb;
      }
      &:disabled {
        cursor: not-allowed;
        background: #faf7f1;
        box-shadow: 1px 1px 6px #8176624c;
        color: #ad9e8b;

        &:not(:disabled):active {
          opacity: 0.75;
        }
      }
    }
  }
}
