$color-gray: #f1f1f1;
$color-dark-grey: #8e8e8e;
$color-gray-1: #636c79;
$color-gray-2: #aaaeb5;

$color-light-blue: #c0c0db;
$color-main: #4b4696;
$color-main-blue: #1226aa;
$color-dark-blue: #0b1a7c;

$color-red: #ca2525;

$color-black: #050a26;

$color-white: white;
