.bickham {
  font-family: bickham;
}

@font-face {
  font-family: bickham;
  src: url(../../../public/static/fonts/bickham.ttf);
}

.forum {
  font-family: forum;
}

@font-face {
  font-family: forum;
  src: url(../../../public/static/fonts/forum.ttf);
}
