.imperial {
  font-family: imperial;
}

@font-face {
  font-family: imperial;
  src: url(../../../public/static/fonts/imperial.ttf);
}

.forum {
  font-family: forum;
}

@font-face {
  font-family: forum;
  src: url(../../../public/static/fonts/forum.ttf);
}
