.antarctic {
  font-family: antarctic;
}

@font-face {
  font-family: antarctic;
  src: url(../../../public/static/fonts/antarctic.otf);
}

.forum {
  font-family: forum;
}

@font-face {
  font-family: forum;
  src: url(../../../public/static/fonts/forum.ttf);
}
