/* Font Sizes */
$font-size-1: 1.5rem; // 24px
$font-size-2: 1.125rem; // 18px
$font-size-3: 1rem; // 16px
$font-size-4: 0.875rem; // 14px
$font-size-5: 0.75rem; // 12px

/* Widths */
$width-desktop: 1400px;
$width-tablet: 900px;
$width-mobile: 560px;

/* Border Radius */
$border-radius: 12px;
