@import "bundle.scss";

* {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: 16px "Forum", "Arial", sans-serif;
  overflow-y: scroll;
  margin: unset;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  @include Typography($font-size-0, 600, $color-primary-text);
}

h2 {
  @include Typography($font-size-2, 500, $color-primary-text);
  text-transform: uppercase;
  text-align: center;
}

p {
  text-align: center;
  @include Typography($font-size-3, 400, $color-secondary-text);
}

/* UX */

input,
button,
textarea {
  all: unset;
  position: relative;
}

input {
  cursor: revert;
}
//убрать стрелки в input[type="number"] во всех браузерах

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}

button,
textarea {
  &:focus-visible {
    outline: revert;
  }
}

img {
  width: 100%;
  display: block;
}

.container {
  max-width: 800px;
  padding: 0 20px;
  margin: 0 auto;

  @include Mobile {
    width: 80vw;
  }
}

.center {
  text-align: center;
}

.vensel {
  width: 60px;
}
