@import "bundle.scss";

* {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: 16px "Inter", "Arial", sans-serif;
  color: $color-gray-1;
  overflow-y: scroll;
  margin: unset;
}

/* Headings */

h1 {
  @include Typography($font-size-1, 700, $color-black);
  line-height: 31px;
}

/* Text */

p {
  @include Typography($font-size-4, 400, $color-gray-1);
  line-height: 18px;
  overflow-wrap: anywhere;
}

span {
  @include Typography($font-size-4, 500, $color-dark-grey);
  line-height: 18px;
}

/* Anchor */

a {
  @include Typography($font-size-2, 400, $color-main-blue);
  line-height: 22px;
  word-break: normal;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

/* UX */

input,
button,
textarea {
  all: unset;
  position: relative;
}

input {
  cursor: revert;
}
//убрать стрелки в input[type="number"] во всех браузерах

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}

button,
textarea {
  &:focus-visible {
    outline: revert;
  }
}

img {
  width: 100%;
  display: block;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
